<form action='/names' method='post'>
  <label for="Player_1">
    PLAYER 1
    <input name="Player_1" type="text">
  </label>
  <label for="Player_2">
    PLAYER 2
    <input name="Player_2" type="text">
  </label>
  <input type="submit" value="Submit">
</form>
